<!DOCTYPE html>
<html>
<body>

{% from "_formhelpers.html" import render_field %}
<form method="get" action="">
    {{ render_field(form.movor1) }} 
        {% if m1 %}
            <a href="{{ m1.url }}" target="_blank">{{ m1.title|safe }}</a> ({{ m1.typ }})
        {% endif %}
    {{ render_field(form.movor2) }}
        {% if m2 %}
            <a href="{{ m2.url }}" target="_blank">{{ m2.title|safe }}</a> ({{ m2.typ }})
        {% endif %}
  <p><input type=submit value="Find Matches">

  </p>
</form>

{% if n == 1 %}
    <a href="{{ m1.url }}" target="_blank">{{ m1.title|safe }}</a> ({{ m1.typ }}) matches:<br>
      <ul>
        {% for cred in cross %}
            <li><a href="http://imdb.com{{ cred }}" target="_blank">{{ links[cred] }}</a></li>
        {% else %}
            None found
        {% endfor %}
      </ul>
{% elif (n == 2) %}
    <a href="{{ m1.url }}" target="_blank">{{ m1.title|safe }}</a> ({{ m1.typ }}) and
    <a href="{{ m2.url }}" target="_blank">{{ m2.title|safe }}</a> ({{ m2.typ }}) match:<br>
        {% for cred in cross %}
          <ul>
            <li><a href="http://imdb.com{{ cred }}" target="_blank">{{ links[cred] }}</a></li>
          </ul>
        {% else %}
            None found
        {% endfor %}<br>    
{% else %}
    Please enter some actors or movies.
{% endif %}

</body>
</html>
